@media only screen and (max-width:991px){
    .heading{
        font-size: 40px;
       
    }
    .banner-section{
        padding: 100px 0!important;
    }
}

@media only screen and (max-width:576px){
    .heading{
        font-size: 30px!important;
       
    }
    .d-none{
        display: block;
    }
}